@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface: 245 245 245;
  --surface-foreground: 17 17 17;

  --border: 196 196 196;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: 24 24 24;
    --surface-foreground: 230 230 230;

    --border: 60 60 60;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-body lining-nums;
  }

  a {
    @apply focus:outline-none focus-visible:ring rounded-sm;
  }
}
